<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@300;600&display=swap"
    rel="stylesheet">
  <title>Commande annulée</title>
  <script src="https://kit.fontawesome.com/544da27e53.js" crossorigin="anonymous"></script>

</head>

<body>


  <nav class="navbar navbar-light bg-dark">
    <a id="top-logo-page" class="navbar" href="/">
      <img src="/images/bike-logo.svg" width="50" height="50" class="logo" alt="">
      The Bike Shop Experience
    </a>
  </nav>
  <div id="picture-header"></div>

  <body>
    <h4 class="text-center">Votre commande n'a pas été prise en compte !</h4>
    <div class="container d-flex">
      <div class="row d-flex text-center">

      </div id="card-cancel" class="card">
      <% for(var i = 0 ; i < dataBike.length ; i++){
        %>
      <div class="card text-center mr-2 ml-2 mb-2 mt-4 pr-4 pl-4 pb-2 pt-4">
        <img src=<%= dataBike[i].urlImage %> alt="bike picture">
        <div class="card-body">
          <h4 id="nom-cancel" class="card-name"><%= dataBike[i].nom %></h4>
          <div class="d-flex justify-content-center text-center align-items-center">
            <p id="prix-cancel" class="card-text m-0"><%= dataBike[i].prix %>€</p>
          </div>
          <div class="align-items-center">
            <a href="/shop?nom=<%= dataBike[i].nom %>&prix=<%= dataBike[i].prix %>&urlImage=<%= dataBike[i].urlImage %>"
              class="
                  btn btn-primary mt-2">Buy</a>
          </div>

        </div>
      </div>
      <%
      }
      %>
    </div>
  </body>

</html>