<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://kit.fontawesome.com/544da27e53.js" crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <title>Weather App - Weather</title>
</head>

<body>

  <div>
    <nav class="header navbar navbar-light bg-dark col-12">
      Weather App
      <a class="logout" href="/logout">Deconnexion</a>
    </nav>

    <div class="container">

      <div class="row">

        <div class="col-12 col-lg-6 offset-lg-6">
          <form action="/add-city" method="post" class="input-group mb-3">
            <input name="cityadded" type="text" class="form-control" placeholder="Enter city name"
              aria-label="New city name">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="submit">Add</button>
            </div>
          </form>
        </div>

        <div class="col-12 col-lg-6">
          <img class="img-fluid" src="/images/map.png" alt="map">
        </div>
        <%
        if (cityList.length === 0) { %>
        <div class="col-12 col-lg-6">
          <h6 id="noCity">No cities found</h6>
        </div>
        <%
        }
        else { %>
        <div class="col-12 col-lg-6">

          <ul class="list-group">
            <li class="margin border-0 list-group-item d-flex justify-content-center align-items-center">
              <a href="/update-data"><span>Update data</span>
                <span><i class="fa-solid fa-arrows-rotate"></i></span></a>
            </li>
            <% for(var i = 0 ; i < cityList.length ; i++){
              %>
            <li id="li" class="list-group-item d-flex justify-content-between align-items-center">
              <span><%= cityList[i].nom %></span>
              <div>
                <span><%= cityList[i].descriptif %></span>
                <span><img src="<%= cityList[i].image %>" alt="cloud"></span>
                <span class="badge badge-info badge-pill"><%= cityList[i].tempMin %>°C</span>
                <span class="badge badge-danger badge-pill"><%= cityList[i].tempMax %>°C</span>
              </div>
              <a id="bouton-trash" href="/delete-city?cityadded=<%= cityList[i]._id %>"><i
                  class="fa-regular fa-circle-xmark"></i></a>
            </li>

          </ul>
          <%
          }
          %>
          <%
        }
        %>

        </div>

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
</body>

</html>